*{
    margin: 0%;
    padding: 0%;
}
body{
   background-image: url(/pic/clouds_sky_porous_133455_2560x1600.jpg);
}

.bav h1{
   display: flex;
   color: rgb(2, 117, 117);
   size: 10px;
  
}
.main-bav a{
    text-decoration: none;
    position: static;
}
.main-bav{
    border: 1px solid rgb(86, 255, 241);
    background: rgb(31, 210, 255);
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    box-shadow: 1px 1px 40px  rgb(72, 75, 72);
    border: 4px inset rgb(209, 238, 209) ;

}

.boes{
    padding: 20px;
    margin: 29px;
    border: dashed rgb(36, 37, 36);
    border-radius:  3px;
    background: white;
}

.bav1{ 
    display: flex;
      
}
.main-bav , a{
    text-align: center;
   
}
p{
    background-color: rgb(187, 225, 235);
    box-shadow: 1px 1px 25px  rgb(38, 39, 38);
}
.toc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boess{
    padding: 20px;
    margin: 29px;
    border: dashed rgb(37, 39, 37);
    border-radius:  3px;
    background-color: rgb(255, 254, 254);
}
.clod p img{
    width: 100%;
    height: 100vh;
}
