*{
    margin: 0%;
    padding: 0%;
}
body{
   background-color: rgb(35, 241, 241);
}

.bav h1{
   display: grid;
   place-items: center;
   color: aqua;
}
.main-bav{
    border: 1px solid rgb(3, 248, 228);
    background-color: rgb(244, 245, 245);
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    box-shadow: 1px 1px 40px  rgb(3, 224, 22);
}

.boes{
    padding: 24px;
    margin: 24px;
    border: 1px solid black;
}

.bav1{ 
    display: flex;
      
}
.main-bav , a{
    text-align: center;
}
p{
    background-color: rgb(6, 148, 184);
    box-shadow: 1px 1px 25px  rgb(3, 224, 22);
}
