*{
    margin: 0%;
    padding: 0%;
}
body{
   background-color: rgb(35, 241, 241);
}

.bav h1{
   display: flex;

   color: rgb(2, 117, 117);
   size: 10px;
  
}
.main-bav a{
    text-decoration: none;
    position: relative;
}
.main-bav{
    border: 1px solid rgb(3, 248, 228);
    background-color: rgb(244, 245, 245);
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    box-shadow: 1px 1px 40px  rgb(3, 224, 22);
    border: 4px inset green ;
}

.boes{
    padding: 20px;
    margin: 29px;
    border: dashed green;
    border-radius:  3px;
    background-color: rgb(255, 254, 254);
}

.bav1{ 
    display: flex;
      
}
.main-bav , a{
    text-align: center;
   
}
p{
    background-color: rgb(6, 148, 184);
    box-shadow: 1px 1px 25px  rgb(3, 224, 22);
}
.toc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boess{
    padding: 20px;
    margin: 29px;
    border: dashed green;
    border-radius:  3px;
    background-color: rgb(255, 254, 254);
}

