*{
    margin: 0%;
    padding: 0%;
}
body{
   background-color: aqua;
}

.bav h1{
   display: grid;
   place-items: center;
}
.main-bav{
    border: 1px solid black;
    background-color: rgb(244, 245, 245);
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
}
.bav1{ 
    display: flex;
      
}
.main-bav , a{
    text-align: center;
}
